.bo-content {
background-color: #DCDCDC;
height: 1300px;
margin-right: 10px;
margin-left: 230px;
margin-top: 10px;
padding: 5px;
border-radius: 10px;
}

.bo-banner {
  margin-top: 15px;
}

.bo-table {
  padding: 20px;
}

.grandTotal {
  font-weight: bold;
  font-size: 20px;
}

.label {
  font-weight: bold;
}

.bo-update {
  margin-left: 20px;
}

.customer-banner {
  margin-left: 20px;
}

.customer-table {
  margin-left: 20px;
  padding-right: 500px;
}