.header { 
    color: whitesmoke;
    background: #002244;
    width: 100%;
    height: 80px; 
    display: inline-block;
    margin-bottom: -6px;
  }
  
  body {
    margin: 0;
  }
  
  .header-brand {
    width: 100px;
    float: left;
    height: 100px;
  }
  
  .header-brand img {
    width: 50px; 
    height: 50px;
    display: inline-block;
  }
  
  .logo {
    display: inline-block;
    margin: 17px;
  }
  
  .brand-name {
    font-size: 20px;
    display: inline-block;
  }
  
  .brand-name a {
    color: white;
  }
  
  .brand-name a:hover {
    color: white;
    text-decoration: none;
  }
  
  .auth-header { 
    width: 100px;
    float: right;
    height: 100px;
    padding-right: 20px;
    text-align: right;
  }
  
  .profile-logo img {
    display: inline-block;
    // position: relative;
    width: 50px; 
    height: 50px;
    margin-top: 12px;
    margin-right: 10px;
    padding: 0px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    color: black;
    background-color: #F0F8FF;
    min-width: 160px;
    padding: 12px 16px;
    right: 0;
    z-index: 1;
    border-radius: 8px;
  }
  
  .droplink a {
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .droplink a:hover {
    color: #48D1CC;
    text-decoration: none;
  }
  
  .profile-logo:hover .dropdown-content {
    display: block;
  }
  
  .logout {
    height: 30px;
  }
  
  .logout a {
    color: white;
    font-size: 20px;
    margin-top: 30p
  }
  
  .logout a:hover {
    color: white;
    text-decoration: none;
  }