.sidebar {
  height: 1500px;
  width: 220px;
  position: absolute;
  left: 0;
  background: #0F4C5C;
  margin-top: 80px;
}

.sidebar a {
  padding: 15px 8px 15px 40px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  text-decoration: none;
  color: white;
  background: #77A0A9;
}

.sidebar a:focus {
  background: #77A0A9;
}

.sidebar-logo {
  height: 28px;
  width: 28px;
  margin-right: 20px;
}

