.content {
  background-color: #DCDCDC;
  height: 900px;
  margin-right: 10px;
  margin-left: 230px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}

.banner h1 {
  font-size: 32px;
  margin-left: 20px;
  margin-top: 10px;
}

.createButton {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.banner-create h1 {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}

.backButton {
  padding-left: 10px;
  padding-top: 1px; 
}

.indexTable {
  padding-left: 20px;
  padding-right: 20px;
}
