.create-form {
  padding: 20px;
}

.create-form label{
  font-weight: bold;
}

.cpu-content {
  background-color: #DCDCDC;
  height: 900px;
  margin-right: 10px;
  margin-left: 230px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}