.create-form {
    padding: 20px;
  }
  
  .create-form label{
    font-weight: bold;
  }

  .promotion-content {
    background-color: #DCDCDC;
    height: 1000px;
    margin-right: 10px;
    margin-left: 230px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
  }